body {
	background-color: #ffe6ff;
	position: relative;
}

#gif-buttons {
	margin-top: 20px;
}

#gif-add-form {
}

#gif-output {
	margin-top: 30px;
}

.gif-result {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}

.button {
	margin: 2px;
}

.button-container {
	margin-right: 15px;
}

.container {
	position: relative;
	margin-top: 20px;
}

.gif-container {
}

.favButton {
	position: absolute;
	bottom: 35px;
	left: 5px;
	width: 30px;
	font-size: 10px;
}

.dlButton {
	position: absolute;
	bottom: 35px;
	left: 40px;
	width: 30px;
	font-size: 10px;
}

.gif-rating {
	position: absolute;
	bottom: 35px;
	right: 20px;
	font-size: 10px;
}

#favorites{
	margin-top: 30px; 
}

.favorite-gif {
	margin-bottom: 10px;
	margin-right: 10px;
}

.jumbotron {
	background-image: url("../../assets/images/retrowave.png");
	background-color: #330066;
	height: 400px;
	min-height: 100%;
	color: whitesmoke;
}

.display-4 {
	font-family: 'Faster One', cursive;
	font-size: 80px !important;
}

.lead {
	font-size: 20px !important;
}

.border-between > [class*='col-']:before {
   background: #330066;
   bottom: 15px;
   content: " ";
   left: 0;
   position: absolute;
   width: 3px;
   top: 85px;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}

#ghost {
	position: absolute;
	top: 900px;
	left: 50px;
}

#jem {
	position: absolute;
	top: 800px;
	right: -100px;
}

#space-invader {
	position: absolute;
	top: 400px;
	right: 200px;
}

.button {
	display: inline-block;
	border-style: none;
	background-color: fuchsia;
	color: white;
	border-radius: 6px;
	border-bottom: 2px solid #330066;
}

p {
	font-weight: bold;
	font-size: 12px;
	color: #330066;
}